body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../img/index.png);
	background-color:#f9f9f9;
}

.banner{
width:80%;
background:#3b5998;
min-height:0px;
margin:auto;
}

.logo{
width:200px;
min-height:0px;
margin:0px 0px 0px 0px;
}

.titulo{
position:relative;
width:350px;
height:70px;
margin:-50px 0px 0px 800px;
}

.cont_menu{

width:80%;
min-height:0px;
margin:auto;
background:#322f32;

}

.conteudo{
width:80%;
background:#fff;
height:570px;
margin:auto;
}

.conteudo2{
width:80%;
background:#fff;
height:600px;
margin:auto;
}

.rodape{
width:80%;
background:#0099FF;
min-height:0px;
margin:auto;
}

.span{
padding:5px;
font-family: verdana, "arial black";
font-size: 9px;
color: #fff;
text-transform: uppercase;
}

.span1{
font-family: verdana, "arial black";
font-size: 11px;
color: #fff;
text-transform: uppercase;
}

.span2{
font-family: verdana, "arial black";
font-size: 11px;
color:#33FFCC;
text-transform: uppercase;
}

.span3{
font-family: verdana, "arial black";
font-size: 11px;
color:#00FF33;
text-transform: uppercase;
text-align:right;
}

.span4{
font-family: verdana, "arial black";
font-size: 11px;
color:#A0A0A0;
text-transform: uppercase;
text-align:right;
}

.span4{
font-family: verdana, "arial black";
font-size: 11px;
color:#A0A0A0;
text-transform: uppercase;
text-align:left;
}

.span5{
font-family: verdana, "arial black";
font-size: 11px;
color:#818181;
text-transform: uppercase;
text-align:left;
}

.span6{
font-family: verdana, "arial black";
font-size: 11px;
color:#666666;
text-transform: uppercase;
text-align:left;
padding:5px;
outline:none;
}

.span7{
font-family: verdana, "arial black";
font-size: 18px;
color:#666666;
text-transform: uppercase;
text-align:left;
padding:5px;
}

.span8{
font-family: verdana, "arial black";
font-size: 10px;
color:#CC0000;
font-weight:bolder;
text-transform: uppercase;
text-align:left;
padding:5px;
}

.span9{
font-family: verdana, "arial black";
font-size: 10px;
color:#00CC66;
font-weight:bolder;
text-transform: uppercase;
text-align:left;
padding:5px;
}


.span10{
font-family: verdana, "arial black";
font-size: 10px;
color:#CC3333;
font-weight:bolder;
text-transform: uppercase;
text-align:left;
padding:5px;
text-decoration:none;
}

.span11{
font-family: verdana, "arial black";
font-size: 10px;
color:#0066FF;	
font-weight:bolder;
text-transform: uppercase;
text-align:left;
padding:5px;
text-decoration:none;
}

.span12{
font-family: verdana, "arial black";
font-size: 14px;
color:#0066FF;	
font-weight:bolder;
text-transform: uppercase;
text-align:left;
padding:5px;
text-decoration:none;
}

.span13{
font-family: verdana, "arial black";
font-size: 9px;
color:#666;	
font-weight:bolder;
text-transform: uppercase;
text-align:left;
padding:5px;
text-decoration:none;
}

.span14{
font-family: verdana, "arial black";
font-size:18px;
color:#006699;	
font-weight:bolder;
text-transform: uppercase;
text-align:left;
padding:5px;
text-decoration:none;
}

.span15{
font-family: verdana, "arial black";
font-size:18px;
color:#FFCC33;	
font-weight:bolder;
text-transform: uppercase;
text-align:left;
text-decoration:none;
}



input{
background:#F4F4F4;
padding:4px;
border:1px solid #e1e1e1;
outline:none;
transition:all 0.8s linear;
-webkit-transition:all 0.8s linear;
-moz-transition:all 0.8s linear;
color:#999999;
text-transform:uppercase;
}

input:hover{
background:#DCFCF0;
padding:4px;
border:1px solid #009966;
outline:none;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
color:#006666;
}

select{
background:#F4F4F4;
padding:4px;
border:1px solid #e1e1e1;
outline:none;
transition:all 0.8s linear;
-webkit-transition:all 0.8s linear;
-moz-transition:all 0.8s linear;
color:#999999;
}

select:hover{
background:#DCFCF0;
padding:4px;
border:1px solid #009966;
outline:none;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
color:#006666;
}


.botao{
background:#3b5998;
padding:6px;
color:#FFFFFF;
width:100px;
border:none;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
cursor:pointer;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
}

.botao:hover{
background:#1B79C7;
padding:6px;
color:#FFFFFF;
width:100px;
border:none;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
}


.box_cliente{
position:absolute;
width:500px;
min-height:0px;
margin:60px 0px 0px 150px;

}

.box_servico{
position:absolute;
width:500px;
min-height:0px;
margin:20px 0px 0px 160px;

}

.box_veiculo{
position:absolute;
width:500px;
min-height:0px;
margin:60px 0px 0px 115px;

}

.box_lista{
padding:40px;
position:absolute;
width:500px;
min-height:0px;
margin:30px 0px 0px 40px;

}




.box_titulo{
padding:10px;
position:absolute;
background:#322f32;
color:#FFFFFF;
width:300px;
min-height:0px;
margin:77px 0px 0px 20px;
font-family: verdana, "arial black";
font-size: 11px;
}

.box_conteudo{
border:1px solid #322f32;
padding:10px;
position:absolute;
background:#FFF;
color:#FFFFFF;
width:298px;
min-height:0px;
margin:110px 0px 0px 20px;
font-family: verdana, "arial black";
font-size: 11px;
}


.box_titulo2{
padding:10px;
position:absolute;
background:#0099FF;
color:#FFFFFF;
width:300px;
min-height:0px;
margin:60px 0px 0px 420px;
font-family: verdana, "arial black";
font-size: 11px;
}

.box_conteudo2{
border:1px solid #0099FF;
padding:10px;
position:absolute;
background:#FFF;
color:#eee;
width:298px;
min-height:0px;
margin:90px 0px 0px 420px;
font-family: verdana, "arial black";
font-size: 11px;
}

.alink{
text-decoration:none;
color:#0066CC;
font-weight:bold;
}

.alink:hover{
text-decoration:none;
color:#3366FF;
font-weight:bold;
}

fieldset {
    font-family: sans-serif;
    border: 3px solid #1F497D;
    background: #fff;
}

fieldset legend {
    background: #3b5998;
    color: #fff;
    padding: 5px 10px ;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}
